@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    --primary-color: #ffc831;
    --secondary-color: #1473fb;
    --font-color: #e8e6e3;
    --font-color-2: #b2aca2;
    --bg-color: #141319;
    --nav-color: #191921;
    --icon-color: #e8e6e3;
    --search-field-color: #27262b;
    --border-color: #4d463a;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: unset;
}

.scale-13 {
    transform: scale(1.3);
}

.scale-2 {
    transform: scale(1.5);
}
