@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-colour);
    color: var(--font-color);
}

* {
    --primary-color: #ffc831;
    --secondary-color: #1473fb;
    --font-color: #e8e6e3;
    --bg-colour: #121414;
}

.search-icon {
    transform: scale(1.5);
    margin-top: 0.1em;
}

.footer-icons {
    transform: scale(1.3);
}
